<section id="social">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=142970452437341";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</section>
<section id="signup">
    <div class="page-header">
    </div>
    <h1>Don't lose your spot</h1>
    {% include "sign_up_button.html" %}
</section>
